#include "src/resource.h"

#include <windows.h>

IDD_MAIN_DIALOG DIALOGEX 0, 0, 520, 320
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SYSMENU | WS_THICKFRAME
CAPTION "Plot Monitor"
FONT 9, "Segoe UI"
BEGIN
END

IDI_APPICON ICON "app.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "Help"
    BEGIN
        MENUITEM "Log Format", ID_HELP_LOGFORMAT
    END
END
